/* #region Colors   */

  .BlueColor{
    color: #616161;
}   

/* #endregion */

/* #region Blocks   */

.OrangeBlock{
    background-color:#EFA32F;
    border-radius: 10px;
    box-shadow:0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
  }
  .BlueBlock{
    background-color: #2F4048;
     border-radius: 10px;
    box-shadow:0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
}
.WhiteBlock{
    background-color: #FFF;
     border-radius: 10px;
    box-shadow:0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* #endregion */

/* #region Fonts */
.FontSizeBig{
    font-size: 30px;
    font-weight: bold;
}

.FontSizeMedium{
    font-size: 20x;
    font-weight: bold;
}

.FontSizeSmall{
    font-size: 15px;
    font-weight: bold;
}

/* #endregion */

/* #region CommonThings */



.border{
  
    border: 2px solid red;
 
}

/* #endregion */

.ResourcesBlock{
padding:3%;
}

/* #region Calculation Block */

.CalculateBlock{
    padding: 1%;
    margin-top: 1%;
        margin-bottom: 1%;
}

.CalculateButton{
    padding: 5%;
    color: #FFF;
    width: 150px;
}

.ResetButton{
    background-color: transparent;
    border: 2px solid #EFA32F;
    padding: 5%;
    width: 150px;
    color: #EFA32F;
    border-radius: 10px;
    box-shadow:0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* #endregion */


/* #region Result Block */

.ResultBlock{
    padding: 1%;
}

.ResultSubBlock{
    padding: 10% 5%;
    color: white;
}

/* #endregion */


@media (max-width:600px){

    /* #region Fonts */
   
    .FontSizeBig{
        font-size: 20px;
        font-weight: bold;
    }
    
    .FontSizeMedium{
        font-size: 10px;
        font-weight: bold;
    }
    
    .FontSizeSmall{
        font-size: 8px;
        font-weight: bold;
    }

    /* #endregion */
    
     /* #region Blocks   */

.OrangeBlock{
    border-radius: 7px;
  }
  .BlueBlock{
     border-radius: 7px;
}
.WhiteBlock{
     border-radius: 7px;
}

    /* #endregion */

    /* #region Caclucation Block */

    .CalculateBlock{
        padding: 2%;
        margin-top: 3%;
        margin-bottom: 3%;
    }

    .CalculateButton{
        padding: 10% 8%;
        color: #FFF;
        width: 80px;
    }

    .ResetButton{
          
        padding: 1%;
        width: 80px;
        color: #EFA32F;
        border-radius: 5px;
        box-shadow:0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    /* #endregion */


/* #region Result Block */

.ResultBlock{
    padding: 5%;
}

.ResultSubBlock{
    padding: 10% 5%;
    color: white;
}

/* #endregion */

}

@media (max-width: 400px){

    /* #region Fonts */

       .FontSizeBig{
           font-size: 15px;
           font-weight: bold;
       }
       
       .FontSizeMedium{
           font-size: 10px;
           font-weight: bold;
       }
       
       .FontSizeSmall{
           font-size: 7px;
           font-weight: bold;
       }

       /* #endregion */

    /* #region Blocks   */

  .OrangeBlock{
   border-radius: 5px;
 }
 .BlueBlock{
    border-radius: 5px;
}
.WhiteBlock{
    border-radius: 5px;
}

/* #endregion */


   /* #region Calculation Block */

       .CalculateBlock{
           padding: 2%;
           margin-top: 3%;
        margin-bottom: 3%;
       }

       .CalculateButton{
           padding: 10% 8%;
           color: #FFF;
           width: 65px;
       }

       .ResetButton{
         
           padding: 1%;
           width: 65px;
           color: #EFA32F;
           border-radius: 5px;
           box-shadow:0 6px 20px 0 rgba(0, 0, 0, 0.19);
       }

   /* #endregion */

   /* #region Result Block */

.ResultBlock{
    padding: 5%;
}

.ResultSubBlock{
    padding: 10% 5%;
    color: white;
}

/* #endregion */

   }