
.OrangeBlock{
    background-color:#EFA32F;
    color: #FFF;
    font-weight: bold;
  }

.Calculate{
    background-color: #FFF;
    padding: 1%;
    margin-top: 1%;
     border-radius: 10px;
    box-shadow:0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.BlackText{
    font-size: 20px;
    font-weight: bolder;
    color: #616161;
}

.CalculateBtn{
    background-color:#2F4048;
    border: 2px solid #2F4048;
    border-radius: 5px;
    padding: 3% 5%;
    color: #FFF;
    font-weight: bolder;
    width: 120px;

   
}

.ResetBtn{
    background-color:transparent;
    border: 2px solid #EFA32F;
    border-radius: 5px;
    padding: 3% 5%;
    color:#EFA32F;
    font-weight: bolder;
    width: 120px;
   
}

.ResourcesColumn{
    margin-left: 0;
}

#StatsBlock{
    margin-top: 2%;
    margin-bottom: 1%;
    border: 2px solid red;
}

#TroopsBlock{
    margin-top: 2%;
    margin-bottom: 1%;
    border: 2px solid red;
}
.border1{
  
    border: 2px solid red;
   
  
   
}

.customInput {
    text-decoration: none;
}

.SectionBorder{
    border: 2px solid green;
    padding: 1%;
    margin-top: 1%;

}


.Box{
    background-color:rgb(24, 167, 233);
    color: #FFF;
    border-radius: 10px;
    padding: 1%;
    text-align: left;
    font-weight: bold;  
    
 
    margin: 1%;
}

.NumberBlock{
    font-size: 30px;
   text-align: left;       
}




.NameBlock{
    font-size: 15px;
    
   
}





@media (max-width:500px){
   
    

    .Calculate{
        background-color: #FFF;
        padding: 4%;
        padding-left: 3%;
        margin-top: 3%;
        margin-bottom: 3%;
         border-radius: 5px;
      
       
    }

    .BlackText{
        font-size: 15px;
        font-weight: bolder;
        color: #616161;
    }

    .CalculateBtn{
       
        border-radius: 5px;
        padding: 8% 3%;
        color: #FFF;
        font-size: 12px;
        font-weight: bolder;
        width:80px;
    
        
       
    }
    
    .ResetBtn{
     
        border-radius: 5px;
        padding: 10% 3%;
        color:#EFA32F;
        font-size: 12px;
        font-weight: bolder;
        width: 80px;
      
       
    }


    .Box{
       
        color: #FFF;
        border-radius: 10px;
        padding: 1%;
        text-align: left;
        font-weight: bold;  
        
     
        margin: 1%;
    }
    
    .NumberBlock{
        font-size: 30px;
       text-align: left;       
    }
    
    
    
    
    .NameBlock{
        font-size: 15px;
        
       
    }

    .MightGained{
    
        border-radius: 5px;
        font-size: 12px;
    
        padding: 5% ;
     
    }

  

    .BlueBlock{
        background-color: #2F4048;
        padding: 5%;
        margin-top: 1%;
         border-radius: 10px;
        box-shadow:0 6px 20px 0 rgba(0, 0, 0, 0.19);
        margin-left: 1%;
    }

    .WhiteBlock{
        background-color: #FFF;
        padding: 5%;
        margin-top: 1%;
         border-radius: 10px;
        box-shadow:0 6px 20px 0 rgba(0, 0, 0, 0.19);
        margin-left: 1%;
    }

}